services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - "5173"
    depends_on:
      - backend
    restart: unless-stopped
    command: npm run dev -- --host 0.0.0.0
    networks:
      - webnet

  backend:
    container_name: backend
    build:
      context: ./backend
    ports:
      - "8000"
    depends_on:
      - postgre
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:7T!1uQ%)1IP-o:C>9Z@presswatch-postgre:5432/db
    restart: unless-stopped
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000
    networks:
      - webnet

  database:
    image: postgres:15
    container_name: presswatch-postgre
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 7T!1uQ%)1IP-o:C>9Z
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  www-html:
  etc-letsencrypt:

networks:
  webnet:
    driver: bridge
